{% extends 'base/base.html' %} {%block title%}Login{%endblock%} {%block header%} {%endblock%} {%block content%} {% include 'base/header-login.html' %}
<div class="div-login">
    <form class="form" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <div class="form-login form-group">
                    <label for="username">Nombre de Usuario: </label>
                    <input class="elements-login" type="text" name="username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <div class="form-login form-group">
                    <label for="password">Contraseña: </label>
                    <input class="elements-login" type="password" name="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <div class="form-login form-group">
                    <a href="#">Olvide mi contrasena</a>
                    <input class="boton-reg elements-login" type="submit" value="Ingresar">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <div class="form-login form-group">
                    <a href="{% url 'registrar'%}">Registrarse</a>
                </div>
            </div>
        </div>
    </form>
</div>
{%endblock%} {%block footer%} {%endblock%}