{% extends 'base/base.html' %} {%block title%}Login{%endblock%} {%block header%} {%endblock%} {%block content%}
<form method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="username">Nombre de Usuario: </label>
                <input type="text" name="username">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label for="password">Nombre de Usuario: </label>
                <input type="password" name="password">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <a href="#">Olvide mi contrasena</a>
                <input type="submit" value="Ingresar">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <a href="{% url 'registrar'%}">Registrarse</a>
            </div>
        </div>
    </div>
</form>
{%endblock%} {%block footer%} {%endblock%}