{% extends 'base/base.html' %} {%block header%} {%endblock%} {%block content%}{% include 'base/header-login.html' %}
{% csrf_token %}
<form class="form" method="POST">
    <fieldset>
        <div class="divform">
            <div class="form-group row boton">
                <label class="form-label mt-4" for="nombre">Nombre: </label> {{ form.nombre }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="fechaNacimiento">Fecha Nacimiento: </label> {{ form.fechaNacimiento }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="curp">Curp: </label> {{ form.curp }}
            </div>
            {% if form.errors %} {% for field in form %} {% for error in field.errors %}
            <div class="mensaje alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
            {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
            <div class="mensaje alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
            {% endfor %} {% endif %}
            <div class="form-group row boton">
                <label class="form-label mt-4" for="empresa">Empresa: </label> {{ form.empresa }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="departamento">Departamento: </label> {{ form.departamento }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="correo">Correo: </label> {{ form.correo }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="sexo">Genero: </label> {{ form.sexo }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="telefono">Telefono: </label> {{ form.telefono }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="celular">Celular: </label> {{ form.celular }}
            </div>
        </div>
        <a class="btn btn-primary" href="{% url 'lista_empleado'%}">Regresar</a>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </fieldset>
</form>
{% if form.nombre.value != "None" %}
<label class="form-label mt-4" for="telefono">1: </label>{{form.nombre.value}}
{%block title%}Modificar Empleado{%endblock%}
{% endif %}
{% if form.nombre.value == "None" %}
<label class="form-label mt-4" for="telefono">2: </label>
{% endif %}
{%endblock%}