{% extends 'base/base.html' %} {%block header%}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a style="background-color: #222222;" class="nav-link active" href="{% url 'lista_empleado'%}">
                EMPLEADOS
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'lista_administrador'%}">
                ADMINISTRADORES
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'lista_empresa'%}">
                EMPRESAS
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'lista_departamento'%}">
                DEPARTAMENTO
            </a>
        </li>
    </ul>
    <form method="GET">
        <div class="input-group">
            <label style="font-size: 22px;" for="empresas">Empresa:</label>
            <select name="empresa">
                <option name="empresa">Seleccionar</option>
                {%if empresas %} {%for empresa in empresas%}
                <option name="empresa">{{empresa.nombre}}</option>
                {%endfor%} {%endif%}
            </select>
            <label style="font-size: 22px;" for="departamentos">Departamento:</label>
            <select name="departamento">
                <option name="departamento">Seleccionar</option>
                {%if departamentos %} {%for departamento in departamentos%}
                <option name="departamento">{{departamento.nombre}}</option>
                {%endfor%} {%endif%}
            </select>
            <input type="text" placeholder="Nombre,Empresa,Departamento" name="buscar">
            <div class="input-group-append">
                <button style="border: 1px solid;border-color: black;" type="submit" class="btn btn-primary">
                    Busca
                </button>
            </div>
        </div>
    </form>
</nav>
{%endblock%} {%block content%}
<a class="btn btn-danger" href="{% url 'crear_empleado'%}">AGREGAR EMPLEADO</a>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Curp</th>
            <th scope="col">Empresa</th>
            <th scope="col">Departamento</th>
            <th scope="col">Correo</th>
            <th scope="col">Genero</th>
            <th scope="col">Telefono</th>
            <th scope="col">Celular</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Modificar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        {%if empleados %} {%for empleado in empleados%}
        <tr class="table-primary">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.fechaNacimiento}}</td>
            <td>{{empleado.curp}}</td>
            <td>{{empleado.empresa.nombre}}</td>
            <td>{{empleado.departamento.nombre}}</td>
            <td>{{empleado.correo}}</td>
            {%if empleado.sexo == "['M']"%}
            <td>Masculino</td>
            {%else%}
            <td>Femenino</td>
            {%endif%}
            <td>{{empleado.telefono}}</td>
            <td>{{empleado.celular}}</td>
            <td>{{empleado.fechaIngreso}}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'modifica_empleado' empleado.curp %}">EDITAR</a>
            </td>
            <td>
                <a class="btn btn-danger" href="{% url 'elimina_empleado' empleado.curp %}">ELIMINAR</a>
            </td>
        </tr>
        {%endfor%} {%else%}
        <h1>No hay Registros</h1>
        {%endif%}
    </tbody>
</table>
{%endblock%}