{% extends 'base/base.html' %} {%block content%}
<form class="form" method="POST">
    {% csrf_token %}
    <fieldset>
        <div class="divform">
            <div class="form-group row boton">
                <label class="form-label mt-4" for="nombre">Nombre: </label> {{ form.nombre }}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="cod">Codigo: </label> {{ form.cod}}
            </div>
            <div class="form-group row boton">
                <label class="form-label mt-4" for="codigo">Empresa: </label> {{ form.codigo }}
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
    </fieldset>
</form>
{%endblock%}